<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>hung.dev.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailServlet</servlet-name>
        <servlet-class>hung.dev.ProductDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>hung.dev.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>hung.dev.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>hung.dev.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogServlet</servlet-name>
        <servlet-class>hung.dev.BlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlognewsServlet</servlet-name>
        <servlet-class>hung.dev.BlognewsServlet</servlet-class>
        <init-param>
            <param-name>Name</param-name>
            <param-value>Value</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>hung.dev.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactServlet</servlet-name>
        <servlet-class>hung.dev.ContactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryServlet</servlet-name>
        <servlet-class>hung.dev.CategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>hung.dev.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>hung.dev.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopServlet</servlet-name>
        <servlet-class>hung.dev.ShopServlet</servlet-class>
    </servlet>
    
    
    <servlet>
        <servlet-name>BaseAdminServlet</servlet-name>
        <servlet-class>hung.dev.admin.BaseAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashBoardServlet</servlet-name>
        <servlet-class>hung.dev.admin.DashBoardServlet</servlet-class>
    </servlet>  
    <servlet>
        <servlet-name>IndexCategoryServlet</servlet-name>
        <servlet-class>hung.dev.admin.category.IndexCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCategoryServlet</servlet-name>
        <servlet-class>hung.dev.admin.category.CreateCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCategoryServlet</servlet-name>
        <servlet-class>hung.dev.admin.category.DeleteCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCategoryServlet</servlet-name>
        <servlet-class>hung.dev.admin.category.EditCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditOrderServlet</servlet-name>
        <servlet-class>hung.dev.admin.order.EditOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexOrderServlet</servlet-name>
        <servlet-class>hung.dev.admin.order.IndexOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailServlet</servlet-name>
        <servlet-class>hung.dev.admin.orderdetail.OrderDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateProductServlet</servlet-name>
        <servlet-class>hung.dev.admin.product.CreateProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>hung.dev.admin.product.DeleteProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProductServlet</servlet-name>
        <servlet-class>hung.dev.admin.product.EditProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexProductServlet</servlet-name>
        <servlet-class>hung.dev.admin.product.IndexProductServlet</servlet-class>
    </servlet>
    
    <!-- Mapping-->
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/HomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailServlet</servlet-name>
        <url-pattern>/ProductDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogServlet</servlet-name>
        <url-pattern>/BlogServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlognewsServlet</servlet-name>
        <url-pattern>/BlognewsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactServlet</servlet-name>
        <url-pattern>/ContactServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryServlet</servlet-name>
        <url-pattern>/CategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/CheckoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopServlet</servlet-name>
        <url-pattern>/ShopServlet</url-pattern>
    </servlet-mapping>
    
    <!-- Admin -->
    
    <servlet-mapping>
        <servlet-name>BaseAdminServlet</servlet-name>
        <url-pattern>/BaseAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashBoardServlet</servlet-name>
        <url-pattern>/DashBoardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexCategoryServlet</servlet-name>
        <url-pattern>/IndexCategoryServlet</url-pattern>
    </servlet-mapping>  
    <servlet-mapping>
        <servlet-name>CreateCategoryServlet</servlet-name>
        <url-pattern>/CreateCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCategoryServlet</servlet-name>
        <url-pattern>/DeleteCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCategoryServlet</servlet-name>
        <url-pattern>/EditCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditOrderServlet</servlet-name>
        <url-pattern>/EditOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexOrderServlet</servlet-name>
        <url-pattern>/IndexOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailServlet</servlet-name>
        <url-pattern>/OrderDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateProductServlet</servlet-name>
        <url-pattern>/CreateProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/DeleteProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProductServlet</servlet-name>
        <url-pattern>/EditProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexProductServlet</servlet-name>
        <url-pattern>/IndexProductServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
